// keyframes/_fade-keyframes.scss
/**
 * Fade keyframe animations
 */
@keyframes fadeIn {
  from { opacity: var(--fade-opacity-start, 0); }
  to { opacity: var(--fade-opacity-end, 1); }
}

@keyframes fadeOut {
  from { opacity: var(--fade-opacity-end, 1); }
  to { opacity: var(--fade-opacity-start, 0); }
}
