// _variables.scss
$use-fade: true !default;
$fade-duration: 0.5s !default;
$fade-easing: ease-out !default;

// _fade.scss
@import '../variables';
@import '../keyframes/fade-keyframes';
@import '../mixins/fade-mixins';

@if $use-fade {
  .fade-in {
    @include fade-in;
  }

  .fade-out {
    @include fade-out;
  }
}
